--- 
layout: home 
title: Doug Tarr's Home Page 
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article>
        <h1>Doug Tarr's Home Page</h1>
        <p>This is the personal website of Doug Tarr.</p>
        <p>I am VP of Engineering for <a href="https://www.mongodb.com/atlas/search">Atlas Search and Vector Search</a> at
          <a href="https://www.mongodb.com">MongoDB</a></p>
        </p>
      <p>I <a href="/blog/archives/">occasionally share my thoughts</a> on this website about programming, management, and hobbies that come and go over time.</p>
      <p>I live in Marin County, California with my talented wife, <a href="https://jamytarr.com">Artist J'Amy Tarr</a> and two kids.</p>
      <p>My son <a href="https://oriont.net">has a website</a> where he shares his interests (currently Computer Science, Programming, Machine Learning)</p>
      <p><a href="/contact.html">Visit this page</a> to learn how to contact me</p>
      
      </article>
      <div class="blog-index">  
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% if post.title %}
    <h2>
      Latest Post
    </h2>
    <h3>
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
      <a href="{{ root_url }}{{ post.url }}">Continue reading this post</a>
    {% endif %}
        
  {% endif %}
    </div>
    </div>
  </div>
</div>
