--- 
layout: new_default 
title: Doug Tarr's Home Page 
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article>
        <h1>Doug Tarr's Home Page</h1>
        <p>This is the personal website of Doug Tarr.</p>
        <p>I am Director of Engineering for <a href="https://www.mongodb.com/atlas/search">Atlas Search</a> at
          <a href="https://www.mongodb.com">MongoDB</a></p>
        </p>
      </article>
      <div class="blog-index">  
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% if post.title %}
    <h2>
      Latest Post
    </h2>
    <h3>
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
    {% endif %}
  {% endif %}
    </div>
    </div>
  </div>
</div>
