<div class="container">
  <div class="row">
    <ul class="list-inline text-muted">
      <li>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</li>
      <li><a href="{{ root_url }}/">Home</a></li>
      <li><a href="{{ root_url }}/resume.html">Resume</a></li>
      <li><a href="{{ root_url }}/bio.html">Bio</a></li>
      <li><a href="{{ root_url }}/projects.html">Projects</a></li>
      <li><a href="{{ root_url }}/contact.html">Contact</a></li>
      <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
    <ul>
  </div>
</div>
