BODY {
  font-family: 'Cousine', monospace;
}

NAV {

 /* max-width: 800px;*/
  margin: 0 auto;

}

ARTICLE{
 /* max-width: 800px;*/
  /* margin: 0 auto; */
}

FOOTER {
 /* max-width: 800px;*/
  margin: 0 auto;
}

H1{

  font-size:3em;
}

.navbar{
  margin-bottom: 0;

}

