<script type="text/javascript">
$(function(){
  
  $.getJSON("http://webmention.io/api/mentions?jsonp=?", {
    target: $("LINK[rel=canonical]").attr("href") + "/"
  }, function(data){
      var ul = $(".webmentions");
      data.links.forEach(function (item)
      {
        if (item.verified)
        {
          ul.append("<li><a href=" + item.source + ">" + item.name + "</a> - " + "<a href=" + item.data.author.url + ">" + item.data.author.name + "</a></li>");
        }
      });

  });
});
</script>
<h4>Add comments via <a href="http://webmention.io">WebMention</a> (trying this out)</h4>
<ul class="webmentions">
</ul>
