{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<html>
<head>
  <title>Doug Tarr's Home Page</title>
  <link rel="canonical" href="{{ canonical }}">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
  <link href="{{ root_url }}/stylesheets/homepage.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
</head>
<body> 
  <article>
    <h1>Doug Tarr's Home Page</h2>
    <p>This is the personal website of Doug Tarr.</p>
    <p>I currently run <a href="/mvcodeclub.html">MV Code Club</a> and live in Mill Valley, California</p>
  </article>
  <section id="work">
    <h2>Work</h2>
    <ul>
      <li><a href="/mvcodeclub.html">MV Code Club</a></li>
      <li><a href="/resume.html">Resume</a></li>
    </ul>
  </section>
  <section id="projects">
    <h2>Projects and Ideas</h2>
    <ul>
      <li><a href="/blog/archives">Blog</a></li>
      <li><a href="/projects.html">Projects</a></li>
    </ul>
  </section>
  <section id="projects">
    <h2>Friends and Family</h2>
    <ul>
      <li><a href="/friends.html">Friends</a></li>
    </ul>
  </section>
  <section id="contact">
    <h2>Contact</h2>
    <ul>
      <li><a href="/contact.html">Contact Me</a></li>
    </ul>
  </section>
  <footer>
    <p>Last published on {{ site.time | date: "%Y-%m-%d" }}</p>
  </footer>
</body>
</html>
