<!DOCTYPE html>
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical }}"/>
  <link href="https://fonts.googleapis.com/css?family=Cousine&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type='text/css'/>
  <link href="{{ root_url }}/stylesheets/homepage.css" media="screen, projection" rel="stylesheet" type="text/css"/>

  <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <link rel="author" type="text/html" href="/" title="Doug Tarr" />

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  
</head>
<body> 
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Doug Tarr</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ root_url }}/">Home</a></li>
          <li><a href="{{ root_url }}/resume.html">Resume</a></li>
          <li><a href="https://notes.douglastarr.com">Notes</a></li>
          <li><a href="{{ root_url }}/bio.html">Bio</a></li>
          <li><a href="{{ root_url }}/projects.html">Projects</a></li>
          <li><a href="{{ root_url }}/contact.html">Contact</a></li>
          <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
          <ul>
         </div>
      </div>
    </nav>
  {{ content | expand_urls: root_url }}
  <div>
        {% include footer.html %}
  </div>
</body>
</html>
