---
layout: new_default
single: true
---

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <div class="alert alert-info">
      <h2>Hi!  I'm available.</h2>
      <p>I'm searching for my next role (FTE Or Contract) in the SF Bay Area.</p>
      <p>Please <a href="/resume.html">View My Resume</a> or <a href="/contact.html">Contact Me</a> with opportunities.</p>
      <p> - Doug </p>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{{ time }}{% if updated %} {{ updated }}{% endif %}
      {% include post/categories.html %}
      <p class="small text-muted">Last published on {{ site.time | date: "%Y-%m-%d" }}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
  </footer>
</article>
<div class="small text-muted">Find a problem or mistake?  <a href="https://github.com/tarr11/tarr11.github.com/issues">File a bug</a> or better yet, <a href="https://github.com/tarr11/tarr11.github.com/pulls">submit a pull request</a>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
</aside>
{% endunless %}
</div>
</div>
