---
layout: new_default
single: true
---

<div>
<article class="hentry" role="article">
  
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{{ time }}{% if updated %} {{ updated }}{% endif %}
      {% include post/categories.html %}
    </p>
  </footer>
  <span style="display: none">
<img class="u-photo photo" src="http://douglastarr.com/images/profile.jpg" />
</span>
<div>In Reply To <a class="u-in-reply-to" rel="in-reply-to" href="{{ page.webmention }}"> {{ page.webmention }}</a></div>

</article>

{% include replies/webmention.html %}
